# Stock Price Data #

In [1]:
import pandas as pd
import os

In [2]:
stock_prices = {}

for fn in os.listdir("prices"):
    #Get filename without extension
    name = fn.split(".")[0]
    df = pd.read_csv(os.path.join("prices", fn))
    stock_prices[name] = df

In [4]:
stock_prices['aapl'].head()

         date      close       open       high        low     volume
0  2007-01-03  83.800002  86.289999  86.579999  81.899999  309579900
1  2007-01-04  85.659998  84.050001  85.949998  83.820003  211815100
2  2007-01-05  85.049997  85.770000  86.199997  84.400002  208685400
3  2007-01-08  85.470000  85.959998  86.529998  85.280003  199276700
4  2007-01-09  92.570003  86.450003  92.979999  85.150000  837324600

In [6]:
av_closing_prices = {}

for stock_sym in stock_prices:
    df = stock_prices[stock_sym]
    av_closing_price = df['close'].mean()
    av_closing_prices[stock_sym] = av_closing_price

In [7]:
pairs = [(av_closing_prices[stock_sym], stock_sym) for stock_sym in stock_prices]

In [8]:
pairs.sort()

In [9]:
print('Stock symbol with minimum average closing price is ' + str(pairs[0][1]))
print('\n')
print('Its closing price is ' + str(pairs[0][0]))
print('\n')
print('Stock symbol with maximum average closing price is ' + str(pairs[-1][1]))
print('\n')
print('Its closing price is ' + str(pairs[-1][0]))

Stock symbol with minimum average closing price is blfs


Its closing price is 0.8122763011583011


Stock symbol with maximum average closing price is amzn


Its closing price is 275.13407757104255

In [ ]:
trades_by_day = {}
for stock_sym in stock_prices:
    df = stock_prices[stock_sym]
    for index, row in df.iterrows():
        date = row['date']
        volume = row['volume']
        pair = (volume, stock_sym)
        if date not in trades_by_day:
            trades_by_day[date] = []
        trades_by_day[date].append(pair)

In [11]:
most_traded_by_day = {}

for day in trades_by_day:
    trades_by_day[day].sort()
    most_traded_by_day[day] = trades_by_day[day][-1]

In [12]:
daily_volumes = []

for day in trades_by_day:
    day_volume = sum([volume for volume, _ in trades_by_day[day]])
    daily_volumes.append((day_volume, day))

daily_volumes.sort()

daily_volumes[-10:]

[(26100, 'date')]

In [ ]:
trades_by_day

In [ ]:
stock_prices